<?xml version="1.0"?>
<config>
    <global>
        <install>
            <date><![CDATA[Tue, 08 Apr 2014 05:26:45 +0000]]></date>
        </install>
        <crypt>
            <key><![CDATA[114fb5da6b069aff6c21b9cb770ec93a]]></key>
        </crypt>
        <disable_local_modules>false</disable_local_modules>
        <resources>
            <db>
                <table_prefix><![CDATA[]]></table_prefix>
            </db>
            <default_setup>
                <connection>
                    <host><![CDATA[]]></host>
                    <username><![CDATA[]]></username>
                    <password><![CDATA[]]></password>
                    <dbname><![CDATA[]]></dbname>
                    <initStatements><![CDATA[SET NAMES utf8]]></initStatements>
                    <model><![CDATA[mysql4]]></model>
                    <type><![CDATA[pdo_mysql]]></type>
                    <pdoType><![CDATA[]]></pdoType>
                    <active>1</active>
                </connection>
            </default_setup>
        </resources>
        <session_save><![CDATA[files]]></session_save>
        <cache>
            <backend>File</backend>
            <id_prefix>x_</id_prefix>
        </cache>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <frontName><![CDATA[admin]]></frontName>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>